body.page {
	background-color: #ddd;
	font-family: "Calibry";
}


div.mainWindow {
	width: 600px;
	height: 250px;
	padding: 5px;
	border: 2px solid #999;
	border-radius: 5px;
	background-color: #fff;
}


input#sendButton {
	display: inline;
	width: 13%;
	height: 18%;
	vertical-align: top;
	margin: 10px 0px;
}

#sendTextArea {
	display: inline;
	width: 85%;
	height: 15%;
	margin: 10px 0px;
}
#systemTextArea {
	display: inline;
	width: 99%;
	height: 35%;
	margin: 0px;
}
#receiveTextArea {
	display: inline;
	width: 99%;
	height: 25%;
	margin: 10px 0px;
}